<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samsung.p3_pooa_2017_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProjetoActivity"
            android:label="@string/title_activity_projeto"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.ProjetoDetalheActivity"></activity>
        <activity
            android:name=".activity.EngenheiroActivity"
            android:label="@string/title_activity_engenheiro"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.EngenheiroDetalheActivity"></activity>
        <activity
            android:name=".activity.DescricaoActivity"
            android:label="@string/title_activity_descricao"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.DescricaoDetalheActivity"></activity>
        <activity
            android:name=".activity.FuncionarioActivity"
            android:label="@string/title_activity_funcionario"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.FuncionarioDetalheActivity"></activity>
        <activity
            android:name=".activity.AlmoxarifadoActivity"
            android:label="@string/title_activity_almoxarifado"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.AlmoxarifadoDetalheActivity"></activity>
    </application>

</manifest>